@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@model ReviewMe.ViewModel.TechnologyViewModelLong
@{
    Layout = null;
    bool isodd = false;
}

@*<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Technology</span>
        </div>
        <div class="panel-body ">
            <div class="table-info">
                <div class="table-header">
                    <div class="table-caption">
                        Technology Table
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Technology Name</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TechnologyViewModel item in Model.TechnologyViewModelList)
                        {
                            <tr>
                                <td>@item.TechnologyName</td>

                                <td>
                                    <a href="@Url.Action("Index", "Technology", new { id = item.Id })" class="btn btn-primary btn-labeled ">
                                        <span class="btn-label icon fa fa-edit"></span> Edit
                                    </a>

                                    <a href="javascript:void(0)" class="btn btn-danger btn-labeled " id="@(item.Id)_@(item.TechnologyName)" onclick="DeleteTechnology(this) ">
                                        <span class=" btn-label icon fa fa-warning">
                                        </span> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@


<div class="table-primary">
    <div role="grid" id="jq-datatables-example_wrapper" class="dataTables_wrapper form-inline no-footer">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="jq-datatables-example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 179px;" aria-sort="ascending">Technology Name</th>
                    <th class="sorting" tabindex="0" aria-controls="jq-datatables-example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 105px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TechnologyViewModel item in Model.TechnologyViewModelList)
                {
                    if (isodd)
                    {
                        @Html.Raw("<tr class='gradeA odd'>")
                        isodd = false;
                    }
                    else
                    {
                        @Html.Raw("<tr class='gradeA even'>")
                        isodd = true;
                    }
                <td class="sorting_1">@item.TechnologyName</td>
                  
                    <td>                   

                        <a href="@Url.Action("Index", "Technology", new { id = item.Id })" title="Edit"  class=" fa fa-edit fa-lg" style="margin: 4px 0px 0px 0px;">

                        </a>

                        <a href="javascript:void(0)" class="fa fa-trash-o fa-lg" title="Delete" id="@(item.Id)_@(item.TechnologyName)" onclick=" DeleteTechnology(this)" style="margin: 4px 0px 0px 0px;">

                        </a>

                    </td>
                    @Html.Raw("</tr>")
                }
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#jq-datatables-example').dataTable();
        });
    </script>


