@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@using ReviewMe.Common.Helpers
@using ReviewMe.Common.Authorization
@model IEnumerable<ReviewMe.Model.Notifications>

    @{
        Layout = null;
    }
    <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
        <span class="label">@{@Html.Raw(((IEnumerable<ReviewMe.Model.Notifications>)Model).Where(r => r.IsRead == false).Count())}</span>
        <i class="nav-icon fa fa-bullhorn"></i>
        <span class="small-screen-text">Income messages</span>
    </a>

    <script>
        init.push(function () {
            $('#main-navbar-messages').slimScroll({ height: 250 });
        });
    </script>

    <div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
        <div class="slimScrollDiv" style="height: 250px; overflow: hidden; position: relative; width: auto;">
            <div class="messages-list" id="main-navbar-messages" style="height: 250px; overflow-y: scroll; width: auto;">
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="message">

                            @if (!string.IsNullOrEmpty(item.CreatedByUser.UserImage))
                            {
                                var path = Path.Combine(Server.MapPath("~/ProfileImages/"), item.CreatedByUser.UserImage);
                                if (File.Exists(path))
                                {
                                    <img id="profileImage" src="/ProfileImages/@item.CreatedByUser.UserImage" class="message-avatar" />
                                }
                                else
                                {
                                    <img id="profileImage" src="~/ProfileImages/default.jpg" class="message-avatar" />
                                }
                            }
                            else
                            {
                                <img id="profileImage" src="~/ProfileImages/default.jpg" class="message-avatar" />
                            }
                            <a href="#" class="message-subject" id="@item.Id">
                                @if (item.IsRead)
                                {
                                    @item.NotificationMessage
                                }
                                else
                                {
                                    <b>@item.NotificationMessage </b>
                                }
                            </a>
                            <div class="message-description">
                                @*from <a href="#">Robert Jang</a>
                                    &nbsp;&nbsp;·&nbsp;&nbsp;*@
                                @*2h ago*@
                                @CalculateDateDiffrenceHelper.DifferenceBetTwoDates(item.CreatedOn, System.DateTime.Now)
                            </div>
                        </div> <!-- / .message -->
                    }
                }
            </div>
            <div class="slimScrollBar" style="background: rgb(0, 0, 0); border-radius: 7px; display: none; height: 109.841827768014px; opacity: 0.4; position: absolute; right: 1px; top: 0px; width: 7px; z-index: 99;"></div><div class="slimScrollRail" style="background: rgb(51, 51, 51); border-radius: 7px; display: none; height: 100%; opacity: 0.2; position: absolute; right: 1px; top: 0px; width: 7px; z-index: 90;"></div>
        </div> <!-- / .messages-list -->
        <a href="@(Url.ActionLink<NotificationController>(controller => controller.Index()))" class="messages-link">MORE MESSAGES</a>
    </div> <!-- / .dropdown-menu -->
