@using System.Data
@using ReviewMe.Common.Enums
@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@using EnumHelper = ReviewMe.Common.Enums.EnumHelper
@model IEnumerable<ReviewMe.ViewModel.NotificationsViewModel>

@{
    Layout = null;
}
<script src="~/Scripts/jquery.timeago.js"></script>
            
<a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
    <span class="label">@Html.Raw(Model.Where(r => r.IsRead == false).Count())</span>
    <i class="nav-icon fa fa-bullhorn"></i>
    <span class="small-screen-text">Income messages</span>
</a>

<script>
    init.push(function() {
        $('#main-navbar-messages').slimScroll({ height: 250 });
    });
</script>

<div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
    <div class="slimScrollDiv" style="max-height: 250px; overflow: hidden; position: relative; width: auto;">
        <div class="messages-list" id="main-navbar-messages" style="max-height: 250px; width: auto;">
            @if (Model.Any())
            {
                foreach (NotificationsViewModel item in Model)
                {
                    <div class="message">

                        @if (!string.IsNullOrEmpty(item.CreatedByUser.UserImage))
                        {
                            string path = Path.Combine(Server.MapPath("~/ProfileImages/"), item.CreatedByUser.UserImage);
                            if (File.Exists(path))
                            {
                                <img id="profileImage" src="/ProfileImages/@item.CreatedByUser.UserImage" class="message-avatar" />
                            }
                            else
                            {
                                <img id="profileImage" src="~/ProfileImages/default.jpg" class="message-avatar" />
                            }
                        }
                        else
                        {
                            <img id="profileImage" src="~/ProfileImages/default.jpg" class="message-avatar" />
                        }
                        <a href="#" class="message-subject" id="@item.Id">
                               
                            @if (item.NotificationType == (int)NotificationType.AddedReview)
                            {
                               @Html.Raw("<strong>" + item.CreatedByUser.FName + " " + item.CreatedByUser.LName + "</strong>  " + EnumHelper.DescriptionAttr<NotificationType>(NotificationType.AddedReview) + " " + item.ReviewForDate.ToString("D"))
                            }
                            else if (item.NotificationType == (int)NotificationType.EditedReview)
                            {
                                 @Html.Raw("<strong>" + item.CreatedByUser.FName + " " + item.CreatedByUser.LName + "</strong>  " + EnumHelper.DescriptionAttr<NotificationType>(NotificationType.EditedReview) + " " + item.ReviewForDate.ToString("D"))
                            }
                            else if (item.NotificationType == (int)NotificationType.NotifyReviwer)
                            {
                                 @Html.Raw("<strong>" + item.CreatedByUser.FName + " " + item.CreatedByUser.LName + "</strong>   " + EnumHelper.DescriptionAttr<NotificationType>(NotificationType.NotifyReviwer))
                            }
                            else if (item.NotificationType == (int)NotificationType.NotifyReviewee)
                            {
                                 @Html.Raw("<strong>" + item.CreatedByUser.FName + " " + item.CreatedByUser.LName + "</strong>   " + EnumHelper.DescriptionAttr<NotificationType>(NotificationType.NotifyReviewee))
                            }
                        </a>
                        <div class="message-description">
                            <abbr class="timeago" title="@(item.CreatedOn)">@(item.CreatedOn)</abbr>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="message">
                    <div class="message-description messages-link">
                        All Caught Up!!!
                    </div>
                </div>
            }
        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0); border-radius: 7px; display: none; height: 109.841827768014px; opacity: 0.4; position: absolute; right: 1px; top: 0px; width: 7px; z-index: 99;"></div><div class="slimScrollRail" style="background: rgb(51, 51, 51); border-radius: 7px; display: none; height: 100%; opacity: 0.2; position: absolute; right: 1px; top: 0px; width: 7px; z-index: 90;"></div>
    </div>
    <a href="@(Url.ActionLink<NotificationController>(controller => controller.Index()))" class="messages-link">All MESSAGES</a>
</div>
<script>
    $(function() {
         $("abbr.timeago").timeago();
    });
</script>