@{
    Layout = null;
}

<html class="gt-ie8 gt-ie9 not-ie pxajs">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sign In - PixelAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin" rel="stylesheet" type="text/css">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/pixel-admin.min.css" rel="stylesheet" />
    <link href="~/Content/pages.min.css" rel="stylesheet" />
    @* <link href="~/Content/widgets.min.css" rel="stylesheet" />*@
    <link href="~/Content/rtl.min.css" rel="stylesheet" />
    <link href="~/Content/themes.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Custom/pixel-admin.min.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->
    <!-- $DEMO =========================================================================================

        Remove this section on production
        -->
    <style>
        #signin-demo {
            background: rgba(0, 0, 0, .6);
            border-radius: 3px;
            bottom: 0;
            padding: 6px;
            position: fixed;
            right: 0;
            z-index: 10000;
        }

            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }

                #signin-demo img:hover {
                    opacity: .5;
                }

            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
    </style>
    <!-- / $DEMO -->

    <style type="text/css">
        .jqstooltip {
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            background: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.6);
            border: 1px solid white;
            color: white;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            font: 10px arial, san serif;
            left: 0px;
            padding: 5px;
            position: absolute;
            text-align: left;
            top: 0px;
            visibility: hidden;
            white-space: nowrap;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <style>
        #demo-themes {
            border-bottom-left-radius: 5px;
            display: table;
            overflow: hidden;
            table-layout: fixed;
            width: 100%;
        }

            #demo-themes .demo-themes-row {
                display: block;
            }

            #demo-themes .demo-theme {
                color: #888;
                display: block;
                float: left;
                overflow: hidden;
                padding: 25px 0;
                position: relative;
                text-align: center;
                width: 50%;
            }

                #demo-themes .demo-theme:hover {
                    color: #fff;
                }

            #demo-themes .theme-preview {
                bottom: 0;
                left: 0;
                overflow: hidden !important;
                position: absolute;
                top: 0;
                width: 100%;
            }

                #demo-themes .theme-preview img {
                    display: block;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

            #demo-themes .demo-theme .overlay {
                background: #1d1d1d;
                background: rgba(0, 0, 0, .8);
                bottom: 0;
                left: -100%;
                position: absolute;
                top: 0;
                width: 100%;
            }

            #demo-themes .demo-theme span {
                color: #fff;
                color: rgba(255, 255, 255, 0);
                position: relative;
            }

            #demo-themes .demo-theme span,
            #demo-themes .demo-theme .overlay {
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                -webkit-transition: all .3s;
                transition: all .3s;
            }

            #demo-themes .demo-theme.active span,
            #demo-themes .demo-theme:hover span {
                color: #fff;
                color: rgba(255, 255, 255, 1);
            }

            #demo-themes .demo-theme.active .overlay,
            #demo-themes .demo-theme:hover .overlay {
                left: 0;
            }

        #demo-settings {
            -khtml-user-select: none;
            -moz-transition: all .3s;
            -moz-user-select: none;
            -ms-transition: all .3s;
            -ms-user-select: none;
            -o-transition: all .3s;
            -webkit-touch-callout: none;
            -webkit-transition: all .3s;
            -webkit-user-select: none;
            background: #333;
            border-radius: 5px;
            padding-right: 10px;
            position: fixed;
            right: -270px;
            top: 70px;
            transition: all .3s;
            user-select: none;
            width: 270px;
            z-index: 999998;
        }

            #demo-settings.open {
                right: -10px;
            }

            #demo-settings > .header {
                background: #444;
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                padding: 10px 20px;
                position: relative;
                z-index: 100000;
            }

            #demo-settings > div {
                background: #282828;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;
                z-index: 100000;
            }

        #demo-settings-toggler {
            -moz-transition: color .3s;
            -ms-transition: color .3s;
            -o-transition: color .3s;
            -webkit-transition: color .3s;
            background: #444;
            border-radius: 5px;
            color: #fff;
            font-size: 21px;
            height: 40px;
            left: -40px;
            line-height: 40px;
            padding-right: 10px;
            position: absolute;
            text-align: center;
            text-decoration: none !important;
            top: 0;
            transition: color .3s;
            width: 50px;
            z-index: 99999;
        }

        #demo-settings.open #demo-settings-toggler {
            color: #888;
            font-size: 16px;
        }

            #demo-settings.open #demo-settings-toggler:hover {
                color: #fff;
            }

            #demo-settings.open #demo-settings-toggler:before {
                content: "\f00d";
            }

        #demo-settings-list {
            margin: 0;
            padding: 0;
        }

            #demo-settings-list li {
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
            }

                #demo-settings-list li > span {
                    color: #fff;
                    cursor: pointer;
                    display: block;
                    line-height: 20px;
                    padding: 12px 20px;
                }

                #demo-settings-list li + li {
                    border-top: 1px solid #333;
                }

        #demo-settings .demo-checkbox {
            position: absolute;
            right: 20px;
            top: 12px;
        }

        .right-to-left #demo-settings {
            left: -270px;
            padding-left: 10px;
            padding-right: 0;
            right: auto;
        }

            .right-to-left #demo-settings.open {
                left: -10px;
                right: auto;
            }

        .right-to-left #demo-settings-toggler {
            left: auto;
            padding-left: 10px;
            padding-right: 0;
            right: -40px;
        }

        .right-to-left #demo-settings .demo-checkbox {
            left: 20px;
            right: auto;
        }
    </style>
</head>


<!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
    -->
<body class="theme-default page-signin" style="">

    <script>
            var init = [];
            init.push(function() {
                var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
                    bgs = [
                        '/assets/demo/signin-bg-1.jpg', '/assets/demo/signin-bg-2.jpg', '/assets/demo/signin-bg-3.jpg',
                        '/assets/demo/signin-bg-4.jpg', '/assets/demo/signin-bg-5.jpg', '/assets/demo/signin-bg-6.jpg',
                        '/assets/demo/signin-bg-7.jpg', '/assets/demo/signin-bg-8.jpg', '/assets/demo/signin-bg-9.jpg'
                    ];
                for (var i = 0, l = bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
                $div.find('img').click(function() {
                    var img = new Image();
                    img.onload = function() {
                        $('#page-signin-bg > img').attr('src', img.src);
                        $(window).resize();
                    };
                    img.src = $(this).attr('src');
                });
                $('body').append($div);
            });
    </script>
    <!-- Demo script -->
    <script src="~/Scripts/Custom/demo.js"></script> <!-- / Demo script -->
    <!-- Page background -->
    <div id="page-signin-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/signin-bg-8.jpg" alt="" style="">
    </div>
    <!-- / Page background -->
    <!-- Container -->
    @* <div class="signin-container">

            <!-- Left side -->
            <div class="signin-info">
                <a href="index.html" class="logo">
                    <img src="~/assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                    PixelAdmin
                </a> <!-- / .logo -->
                <div class="slogan">
                    Simple. Flexible. Powerful.
                </div> <!-- / .slogan -->
                <ul>
                    <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
                    <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
                    <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
                    <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
                </ul> <!-- / Info list -->
            </div>
            <!-- / Left side -->
            <!-- Right side -->
            <div class="signin-form">

                <!-- Form -->
                <form action="index.html" id="signin-form_id" novalidate="novalidate">
                    <div class="signin-text">
                        <span>Sign In to your account</span>
                    </div> <!-- / .signin-text -->

                    <div class="form-group w-icon has-error">
                        <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Username or email">
                        <span class="fa fa-user signin-form-icon"></span>
                    </div> <!-- / Username -->

                    <div class="form-group w-icon has-error">
                        <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div> <!-- / Password -->

                    <div class="form-actions">
                        <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
                        <a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
                    </div> <!-- / .form-actions -->
                </form>
                <!-- / Form -->
                <!-- "Sign In with" block -->
                <div class="signin-with">
                    <!-- Facebook -->
                    <a href="index.html" class="signin-with-btn" style="background: #4f6faa; background: rgba(79, 111, 170, .8);">Sign In with <span>Facebook</span></a>
                </div>
                <!-- / "Sign In with" block -->
                <!-- Password reset form -->
                <div class="password-reset-form" id="password-reset-form" style="display: block;">
                    <div class="header">
                        <div class="signin-text">
                            <span>Password reset</span>
                            <div class="close">×</div>
                        </div> <!-- / .signin-text -->
                    </div> <!-- / .header -->
                    <!-- Form -->
                    <form action="index.html" id="password-reset-form_id" novalidate="novalidate">
                        <div class="form-group w-icon has-error">
                            <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
                            <span class="fa fa-envelope signin-form-icon"></span>
                        </div> <!-- / Email -->

                        <div class="form-actions">
                            <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
                        </div> <!-- / .form-actions -->
                    </form>
                    <!-- / Form -->
                </div>
                <!-- / Password reset form -->
            </div>
            <!-- Right side -->
        </div>*@

    <div class="signin-container">

        <!-- Left side -->
        <div class="signin-info">
            <a href="index.html" class="logo">
                <img src="~/assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                <strong><span style="color: red">Neo</span>Daily</strong> Reviews
            </a> <!-- / .logo -->
            <div class="slogan">
                <i> Happy Coding.</i>
            </div> <!-- / .slogan -->
            <ul>
                <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
                <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
                <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
                <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
            </ul> <!-- / Info list -->
        </div>
        <!-- / Left side -->
        <!-- Right side -->
        <div class="signin-form">

            <!-- Form -->
            <form action="index.html" id="signin-form_id" novalidate="novalidate">
                <div class="signin-text">
                    <span>Sign In to your account</span>
                </div> <!-- / .signin-text -->

                <div class="form-group w-icon">
                    <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Username or email">
                    <span class="fa fa-user signin-form-icon"></span>
                </div> <!-- / Username -->

                <div class="form-group w-icon">
                    <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
                    <span class="fa fa-lock signin-form-icon"></span>
                </div> <!-- / Password -->

                <div class="form-actions">
                    <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
                    <a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
                </div> <!-- / .form-actions -->
            </form>
            <!-- / Form -->
            <!-- "Sign In with" block -->
            <div class="signin-with">
                <!-- Facebook -->
                <a href="index.html" class="signin-with-btn" style="background:#4f6faa;background:rgba(79, 111, 170, .8);">Sign In with <span>Facebook</span></a>
            </div>
            <!-- / "Sign In with" block -->
            <!-- Password reset form -->
            <div class="password-reset-form" id="password-reset-form">
                <div class="header">
                    <div class="signin-text">
                        <span>Password reset</span>
                        <div class="close">×</div>
                    </div> <!-- / .signin-text -->
                </div> <!-- / .header -->
                <!-- Form -->
                <form action="index.html" id="password-reset-form_id" novalidate="novalidate">
                    <div class="form-group w-icon">
                        <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
                        <span class="fa fa-envelope signin-form-icon"></span>
                    </div> <!-- / Email -->

                    <div class="form-actions">
                        <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
                    </div> <!-- / .form-actions -->
                </form>
                <!-- / Form -->
            </div>
            <!-- / Password reset form -->
        </div>
        <!-- Right side -->
    </div>

    <!-- / Container -->

    <div class="not-a-member">
        Not a member? <a href="pages-signup.html">Sign up now</a>
    </div>

    <!-- Get jQuery from Google CDN -->
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    <!-- <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">' + "<" + "/script>"); </script>
    <![endif]-->
    <!-- Pixel Admin's javascripts -->
    @*    <script src="~/assets/javascripts/bootstrap.min.js"></script>
        <script src="~/assets/javascripts/pixel-admin.min.js"></script>*@

    <script type="text/javascript">
            // Resize BG
            init.push(function() {
                var $ph = $('#page-signin-bg'),
                    $img = $ph.find('* > img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height: '100%',
                            width: 'auto'
                        });
                    }
                });
            });

            // Show/Hide password reset form on click
            init.push(function() {
                $('#forgot-password-link').click(function() {
                    $('#password-reset-form').fadeIn(400);
                    return false;
                });
                $('#password-reset-form .close').click(function() {
                    $('#password-reset-form').fadeOut(400);
                    return false;
                });
            });

            // Setup Sign In form validation
            init.push(function() {
                $("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function() {} });

                // Validate username
                $("#username_id").rules("add", {
                    required: true,
                    minlength: 3
                });

                // Validate password
                $("#password_id").rules("add", {
                    required: true,
                    minlength: 6
                });
            });

            // Setup Password Reset form validation
            init.push(function() {
                $("#password-reset-form_id").validate({ focusInvalid: true, errorPlacement: function() {} });

                // Validate email
                $("#p_email_id").rules("add", {
                    required: true,
                    email: true
                });
            });

            window.PixelAdmin.start(init);
    </script>

    <h5 class="header">THEMES</h5>
    @* <div id="demo-themes">
            <div class="demo-themes-row">
                <a href="#" class="demo-theme active" data-theme="default">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/default.png" alt="">
                    </div><div class="overlay"></div><span>Default</span>
                </a><a href="#" class="demo-theme" data-theme="asphalt">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/asphalt.png" alt="">
                    </div><div class="overlay"></div><span>Asphalt</span>
                </a>
            </div><div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="purple-hills">
                    <div class="theme-preview"><img src="../../assets/demo/themes/purple-hills.png" alt=""></div>
                    <div class="overlay"></div><span>Purple Hills</span>
                </a><a href="#" class="demo-theme" data-theme="adminflare">
                    <div class="theme-preview"><img src="../../assets/demo/themes/adminflare.png" alt=""></div>
                    <div class="overlay"></div><span>Adminflare</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="dust">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/dust.png" alt="">
                    </div><div class="overlay"></div><span>Dust</span>
                </a>
                <a href="#" class="demo-theme" data-theme="frost">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/frost.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Frost</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="fresh">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/fresh.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Fresh</span>
                </a>
                <a href="#" class="demo-theme" data-theme="silver">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/silver.png" alt="">
                    </div>
                    <div class="overlay">

                    </div>
                    <span>Silver</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="clean">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/clean.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Clean</span>
                </a>
                <a href="#" class="demo-theme" data-theme="white">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/white.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>White</span>
                </a>
            </div>
        </div>*@


    <div id="small-screen-width-point" style="background: #fff; height: 10px; position: absolute; top: -10000px; width: 10px;">

    </div>
    <div id="tablet-screen-width-point" style="background: #fff; height: 10px; position: absolute; top: -10000px; width: 10px;">

    </div>

    @* <div id="signin-demo" class="hidden-xs">
            <div>PAGE BACKGROUND</div>
            <img src="~/assets/demo/signin-bg-1.jpg">
            <img src="~/assets/demo/signin-bg-2.jpg">
            <img src="~/assets/demo/signin-bg-3.jpg">
            <img src="~/assets/demo/signin-bg-4.jpg">
            <img src="~/assets/demo/signin-bg-5.jpg">
            <img src="~/assets/demo/signin-bg-6.jpg">
            <img src="~/assets/demo/signin-bg-7.jpg">
            <img src="~/assets/demo/signin-bg-8.jpg">
            <img src="~/assets/demo/signin-bg-9.jpg">
        </div>*@
</body>
</html>
@*@using NeoDailyReviews.Web.Models
    @model LoginViewModel
    @{
        ViewBag.Title = "Log in";
    }

    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    $1$ Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>#1#
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@