@model ReviewMe.Web.Models.LoginViewModel
@{
    Layout = null;
}

<html class="gt-ie8 gt-ie9 not-ie pxajs">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sign In - Review-Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin" rel="stylesheet" type="text/css">

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/pixel-admin.min.css" rel="stylesheet" />
        <link href="~/Content/pages.min.css" rel="stylesheet" />
        <link href="~/Content/rtl.min.css" rel="stylesheet" />
        <link href="~/Content/themes.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
     
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/Custom/pixel-admin.min.js"></script>
       
        <style>
            #signin-demo {
                background: rgba(0, 0, 0, .6);
                border-radius: 3px;
                bottom: 0;
                padding: 6px;
                position: fixed;
                right: 0;
                z-index: 10000;
            }

            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }

            #signin-demo img:hover { opacity: .5; }

            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
        </style>
        <!-- / $DEMO -->

        <style type="text/css">
            .jqstooltip {
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                background: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.6);
                border: 1px solid white;
                color: white;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                font: 10px arial, san serif;
                left: 0px;
                padding: 5px;
                position: absolute;
                text-align: left;
                top: 0px;
                visibility: hidden;
                white-space: nowrap;
                z-index: 10000;
            }

            .jqsfield {
                color: white;
                font: 10px arial, san serif;
                text-align: left;
            }
        </style>

        <style>
            #demo-themes {
                border-bottom-left-radius: 5px;
                display: table;
                overflow: hidden;
                table-layout: fixed;
                width: 100%;
            }

            #demo-themes .demo-themes-row { display: block; }

            #demo-themes .demo-theme {
                color: #888;
                display: block;
                float: left;
                overflow: hidden;
                padding: 25px 0;
                position: relative;
                text-align: center;
                width: 50%;
            }

            #demo-themes .demo-theme:hover { color: #fff; }

            #demo-themes .theme-preview {
                bottom: 0;
                left: 0;
                overflow: hidden !important;
                position: absolute;
                top: 0;
                width: 100%;
            }

            #demo-themes .theme-preview img {
                display: block;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            #demo-themes .demo-theme .overlay {
                background: #1d1d1d;
                background: rgba(0, 0, 0, .8);
                bottom: 0;
                left: -100%;
                position: absolute;
                top: 0;
                width: 100%;
            }

            #demo-themes .demo-theme span {
                color: #fff;
                color: rgba(255, 255, 255, 0);
                position: relative;
            }

            #demo-themes .demo-theme span,
            #demo-themes .demo-theme .overlay {
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                -webkit-transition: all .3s;
                transition: all .3s;
            }

            #demo-themes .demo-theme.active span,
            #demo-themes .demo-theme:hover span {
                color: #fff;
                color: rgba(255, 255, 255, 1);
            }

            #demo-themes .demo-theme.active .overlay,
            #demo-themes .demo-theme:hover .overlay { left: 0; }

        </style>

    </head>

    <body class="theme-default page-signin" style="">

        <script>
            var init = [];
            init.push(function() {
                var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
                    bgs = [
                        '/assets/demo/signin-bg-1.jpg', '/assets/demo/signin-bg-2.jpg', '/assets/demo/signin-bg-3.jpg',
                        '/assets/demo/signin-bg-4.jpg', '/assets/demo/signin-bg-5.jpg', '/assets/demo/signin-bg-6.jpg',
                        '/assets/demo/signin-bg-7.jpg', '/assets/demo/signin-bg-8.jpg', '/assets/demo/signin-bg-9.jpg'
                    ];
                for (var i = 0, l = bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
                $div.find('img').click(function() {
                    var img = new Image();
                    img.onload = function() {
                        $('#page-signin-bg > img').attr('src', img.src);
                        $(window).resize();
                    };
                    img.src = $(this).attr('src');
                });
                $('body').append($div);
            });
        </script>

        <div id="page-signin-bg">
        
            <div class="overlay"></div>
            <img src="http://infinite-woodland-5276.herokuapp.com/assets/demo/signin-bg-8.jpg" alt="" style="">
        </div>

        <div class="signin-container">
            <div class="signin-info">
                <a href="#" class="logo">
                    <img src="~/assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                    <strong><span style="color: red">Neo</span>Daily</strong> Reviews
                </a> 
                <div class="slogan">
                    <i>Write programs for people to read, and only incidentally for machines to execute :) </i>
                    <i> Happy Coding...</i>
                </div>
                @* <ul>
        <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
        <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
        <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
        <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
    </ul> <!-- / Info list --> *@
            </div>
            <div class="signin-form">
                @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post))
                {
                    <div style="color: red">
                        @if (HttpContext.Current.Session["LOGIN_FAILED"] != null)
                        {
                            @Session["LOGIN_FAILED"].ToString()
                            Session["LOGIN_FAILED"] = null;
                        }
                    </div>
                    <div class="signin-text">
                        <span>Sign In to your account</span>
                    </div>

                    <div class="form-group w-icon">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-lg", @placeHolder = "Username or email"})
                        @Html.ValidationMessageFor(m => m.Email)
                        <span class="fa fa-user signin-form-icon"></span>
                    </div>
                    <div class="form-group w-icon">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control input-lg", @placeHolder = "Password"})
                        @Html.ValidationMessageFor(m => m.Password)
                        <span class="fa fa-lock signin-form-icon"></span>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
                        <a href="" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
                    </div>
                }
                <div class="password-reset-form" id="password-reset-form">
                    @{
                        Html.RenderAction("ForgotPassword", "Account");
                    }
                    
                </div>
           
            </div>
      
        </div>
        <script type="text/javascript">
            // Resize BG
            init.push(function() {
                var $ph = $('#page-signin-bg'),
                    $img = $ph.find('* > img');

                $(window).on('resize', function() {
                    $img.attr('style', '');
                    if ($img.height() < $ph.height()) {
                        $img.css({
                            height: '100%',
                            width: 'auto'
                        });
                    }
                });
            });

            // Show/Hide password reset form on click
            init.push(function() {
                $('#forgot-password-link').click(function() {
                    $('#password-reset-form').fadeIn(400);
                    return false;
                });
                $('#password-reset-form .close').click(function() {
                    $('#password-reset-form').fadeOut(400);
                    return false;
                });
            });

            // Setup Sign In form validation
            init.push(function() {
                $("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function() {} });

                // Validate username
                $("#username_id").rules("add", {
                    required: true,
                    minlength: 3
                });

                // Validate password
                $("#password_id").rules("add", {
                    required: true,
                    minlength: 6
                });
            });

            // Setup Password Reset form validation
            init.push(function() {
                $("#password-reset-form_id").validate({ focusInvalid: true, errorPlacement: function() {} });

                // Validate email
                $("#p_email_id").rules("add", {
                    required: true,
                    email: true
                });
            });

            window.PixelAdmin.start(init);
        </script>

        <h5 class="header">THEMES</h5>
        @* <div id="demo-themes">
            <div class="demo-themes-row">
                <a href="#" class="demo-theme active" data-theme="default">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/default.png" alt="">
                    </div><div class="overlay"></div><span>Default</span>
                </a><a href="#" class="demo-theme" data-theme="asphalt">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/asphalt.png" alt="">
                    </div><div class="overlay"></div><span>Asphalt</span>
                </a>
            </div><div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="purple-hills">
                    <div class="theme-preview"><img src="../../assets/demo/themes/purple-hills.png" alt=""></div>
                    <div class="overlay"></div><span>Purple Hills</span>
                </a><a href="#" class="demo-theme" data-theme="adminflare">
                    <div class="theme-preview"><img src="../../assets/demo/themes/adminflare.png" alt=""></div>
                    <div class="overlay"></div><span>Adminflare</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="dust">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/dust.png" alt="">
                    </div><div class="overlay"></div><span>Dust</span>
                </a>
                <a href="#" class="demo-theme" data-theme="frost">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/frost.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Frost</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="fresh">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/fresh.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Fresh</span>
                </a>
                <a href="#" class="demo-theme" data-theme="silver">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/silver.png" alt="">
                    </div>
                    <div class="overlay">

                    </div>
                    <span>Silver</span>
                </a>
            </div>
            <div class="demo-themes-row">
                <a href="#" class="demo-theme" data-theme="clean">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/clean.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>Clean</span>
                </a>
                <a href="#" class="demo-theme" data-theme="white">
                    <div class="theme-preview">
                        <img src="../../assets/demo/themes/white.png" alt="">
                    </div>
                    <div class="overlay"></div>
                    <span>White</span>
                </a>
            </div>
        </div>*@


        <div id="small-screen-width-point" style="background: #fff; height: 10px; position: absolute; top: -10000px; width: 10px;">

        </div>
        <div id="tablet-screen-width-point" style="background: #fff; height: 10px; position: absolute; top: -10000px; width: 10px;">

        </div>

        @* <div id="signin-demo" class="hidden-xs">
            <div>PAGE BACKGROUND</div>
            <img src="~/assets/demo/signin-bg-1.jpg">
            <img src="~/assets/demo/signin-bg-2.jpg">
            <img src="~/assets/demo/signin-bg-3.jpg">
            <img src="~/assets/demo/signin-bg-4.jpg">
            <img src="~/assets/demo/signin-bg-5.jpg">
            <img src="~/assets/demo/signin-bg-6.jpg">
            <img src="~/assets/demo/signin-bg-7.jpg">
            <img src="~/assets/demo/signin-bg-8.jpg">
            <img src="~/assets/demo/signin-bg-9.jpg">
        </div>*@
    </body>
</html>