@using System.Collections
@using System.Globalization
@using ReviewMe.Common.Authorization
@using ReviewMe.Common.Enums
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Scripts/Custom/Index.js"></script>
@*<script src="~/Scripts/countries.js"></script>*@
<style>
    .morris-hover.morris-default-style {
        background-color: #ffffff !important;
        border: solid 2px #e6e6e6;
    }
</style>
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">Technical Review Stats</a></li>
</ul>
<div class="page-header">

    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Technical Review Stats</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto" style="width:120%;">
                    @if (SessionManager.GetUserRoleOfCurrentlyLoggedInUser() == UserRoleEnum.Admin)
                    {
                        <div class="col-lg-3">
                            @Html.DropDownList("technology", ViewBag.Technologies as IEnumerable<SelectListItem>, new { @class = "form-control select2" })                            
                        </div>
                    <div class="col-lg-3" id="usersList">
                        @Html.DropDownList("user", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @id = "ddlusersList" })
                    </div>
                    }                    
                    else if (SessionManager.GetUserRoleOfCurrentlyLoggedInUser() == UserRoleEnum.TeamLeader)
                    {
                        <div class="col-lg-3">
                            @Html.DropDownList("user", ViewBag.TeamList as IEnumerable<SelectListItem>, new { @class = "form-control select2", @id = "ddlusersList" })                            
                        </div>
                    }                    
                    else
                    {
                        <div class="col-lg-3">
                        @Html.Hidden("user", null, new { @id = "ddlusersList" })
                        </div>
                    }
                    <div class="col-lg-3">
                        @Html.DropDownList("month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(CultureInfo.InvariantCulture), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), "-- Month --", new { @class = " form-control " })
                    </div>
                    <div class="col-lg-2">
                        @Html.DropDownList("year", Enumerable.Range(2000, 100).Select(i => new SelectListItem { Value = i.ToString(CultureInfo.InvariantCulture), Text = i.ToString(CultureInfo.InvariantCulture) }), "-- Year --", new { @class = "form-control " })
                    </div>
                </div>
                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
        </div>
    </div>
</div> <!-- / .page-header -->

    <div class="col-sm-12 text-center">       
        <div id="line-chart"></div>
    </div>


<script type="text/javascript">
    $(function () {
        var date = new Date();

        $("#month").val(date.getMonth() + 1);
        $("#year").val(date.getFullYear());

        $.ajax({
            type: "GET",
            datatype: "application/json",            
            url: "@(Url.Action("GetRatingsByMonth", "Home"))",
            data: { month: $('#month').val(), year: $('#year').val(), id: $('#ddlusersList').val() },
            success: function (data) {
                $('#line-chart').empty();
                if (data.reviewDetails.length != 0) {
                    BindLineChart(data);
                } else {
                    var div = $('<div class="alert alert-danger">');
                    var strong = $('<strong></strong>');
                    strong.append("Oh snap! ");
                    div.append(strong);
                    div.append(" I am feeling alone here.");
                    $('#line-chart').append(div);
                }
            },
            error: function (data) {

            }
        });
    });
</script>