@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@model ReviewMe.ViewModel.UserViewModelLong
@{
    ViewBag.Title = "User-Management";
    Layout = "../Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/Custom/User.js"></script>

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="@(Url.ActionLink<HomeController>(controller => controller.Index()))">Home</a></li>
    <li class="active"><a href="#">User</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th"></i>&nbsp;&nbsp;User Management</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <!-- "Create project" button, width=auto on desktops -->
                <div class="pull-right col-xs-12 col-sm-auto">
                    <button type="button" class="btn btn-primary btn-labeled" id="AddUser">
                        <span class="btn-label icon fa fa-plus"></span> Create User
                    </button>
                </div>

                <!-- Margin -->
                <div class="visible-xs clearfix form-group-margin"></div>

                <!-- Search field -->
                <form action="" class="pull-right col-xs-12 col-sm-6">
                    <div class="input-group no-margin">
                        <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">User</span>
            </div>
            <div class="panel-body ">
                <div class="table-info">
                    <div class="table-header">
                        <div class="table-caption">
                            User Table
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Date of Birth</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserViewModel item in Model.UserViewModelList)
                            {
                                <tr>
                                    <td>@item.FName @item.LName</td>
                                    <td style="word-break:break-all;width: 300px;">
                                        @item.Address
                                    </td>
                                    <td>@String.Format("{0:d}", item.Dob)</td>
                                    <td>@item.EmailId</td>
                                    <td>@item.MobileNo</td>
                                    <td>
                                        <a href="javascript:void(0)" id="@(item.Id)" class="btn btn-primary btn-labeled " onclick=" EditUser(this) ">
                                            <span class="btn-label icon fa fa-edit"></span> Edit
                                        </a>

                                        <a href="javascript:void(0)" class="btn btn-danger btn-labeled " id="@(item.Id)_@(item.FName)" onclick=" DeleteUser(this) ">
                                            <span class=" btn-label icon fa fa-warning">
                                            </span> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <ul class="pagination pagination-xs">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="userAddDetails" class="modal  fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="userAddEditModalBody">
        </div>
    </div>
</div>