@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@model ReviewMe.ViewModel.UserViewModelLong
@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            @*<div class="panel-heading">
                <span class="panel-title"<div class="panel-body ">User</span>
            </div>*@
            <div class="table-info">
                <div class="table-header">
                    <div class="table-caption">
                        User Table
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Date of Birth</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserViewModel item in Model.UserViewModelList)
                        {
                            <tr>
                                <td>@item.FName @item.LName</td>
                                <td style="word-break:break-all;width: 300px;">
                                    @item.Address
                                </td>
                                <td>@String.Format("{0:d}", item.Dob)</td>
                                <td>@item.EmailId</td>
                                <td>@item.MobileNo</td>
                                <td>@item.RoleName </td>
                                <td>
                                    <a href="javascript:void(0)" id="@(item.Id)" class="btn btn-primary btn-labeled " onclick=" EditUser(this) ">
                                        <span class="btn-label icon fa fa-edit"></span> Edit
                                    </a>

                                    <a href="javascript:void(0)" class="btn btn-danger btn-labeled " id="@(item.Id)_@(item.FName)" onclick=" DeleteUser(this) ">
                                        <span class=" btn-label icon fa fa-warning">
                                        </span> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                
               
            </div>
        </div>
    </div>
</div>

