@using ReviewMe.Common.Extensions;
@using ReviewMe.ViewModel;
@model ReviewMe.ViewModel.ReviewDetailsViewModel
@{
    Layout = null;
}
@Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/star-rating.js" type="text/javascript" ></script>
<script src="~/Scripts/Custom/ReviewDetailsJS.js" type="text/javascript" ></script>
<link href="~/Content/star-rating.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @if (Model.Id != 0)
    {
        <h4 class="modal-title">Edit Review</h4>
    }
    else
    {
        <h4 class="modal-title">Add Review</h4>
    }
</div>

@using (Html.BeginForm("AddEditReviewDetails", "ReviewMap", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "addEditReviewForm" }))
{
    @Html.Hidden("CodingStandardRating", Model.CodingStandardRating)
    @Html.Hidden("ProjectArchitecture", Model.ProjectArchitecture)
    @Html.Hidden("CodeOptimizationRating", Model.CodeOptimizationRating)
    @Html.Hidden("QueryOptimizationRating", Model.QueryOptimizationRating)
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("RevieweeId", (Int64)ViewBag.RevieweeId)
    @Html.Hidden("hdnRevieweeDate", (String)ViewBag.RevieweeDate)         
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <div class=" col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Coding Standard Rating<span style="color: red">*</span></label>                        
                        <input class="input-21f" value="@Model.CodingStandardRating" type="number" min=0 max=5 step=0.1 data-size="xs" name-to-bind="CodingStandardRating"> 
                        @Html.ValidationMessageFor(m => m.CodingStandardRating)
                        @*@Html.TextBoxFor(m => m.CodingStandardRating, new { @class = "input-21f",@value="0", @type="number", @min=0 ,@max=5 ,@step=0.1,@data-size="xs",@name-to-bind="CodingStandardRating" })*@                                      
                    </div>
                </div><!-- col-sm-6 -->
            </div>    
                  
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Project Architecture<span style="color: red">*</span></label>

                        <input class="input-21f" value="@Model.ProjectArchitecture" type="number" min=0 max=5 step=0.1 data-size="xs" name-to-bind="ProjectArchitecture"> 

                    </div>
                </div><!-- col-sm-6 -->
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Code Optimization Rating<span style="color: red">*</span></label>

                        <input class="input-21f" value="@Model.CodeOptimizationRating" type="number" min=0 max=5 step=0.1 data-size="xs" name-to-bind="CodeOptimizationRating"> 

                    </div>
                </div><!-- col-sm-6 -->
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group no-margin-hr">
                        <label class="control-label">Query Optimization Rating<span style="color: red">*</span></label>
                        <input class="input-21f" value="@Model.QueryOptimizationRating" type="number" min=0 max=5 step=0.1 data-size="xs" name-to-bind="QueryOptimizationRating"> 

                    </div>
                </div><!-- col-sm-6 -->
            </div>

        </div>
        <div class=" col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Title<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div><!-- col-sm-6 -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Comment<span style="color: red">*</span></label>
                            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @style = "height:130px" })
                            @Html.ValidationMessageFor(m => m.Comment)
                        </div>
                    </div><!-- col-sm-6 -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group no-margin-hr">
                            <label class="control-label">ReviewDate<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.ReviewDate, new { @class = "form-control",@readonly=true })
                            @Html.ValidationMessageFor(m => m.ReviewDate)
                        </div>
                    </div><!-- col-sm-6 -->
                </div>
            <div class="modal-footer">
                @if (Model.Id != 0)
                {                    
                    <button type="button" id="btnEditReview" class="btn btn-primary">Update</button>                    
                    <button id="btnReviewDelete" type="button" data-dismiss="modal"  class="btn btn-danger" deleteid="@Model.Id">Delete</button>
                }
                else
                {

                    @*<input class="btn btn-success" type="button" value="Save" id="btnSaveReviewDetail">*@
    <button type="button" id="btnSaveReviewDetail"  class="btn btn-primary">Save</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            </div>
        </div>
        

    </div>     
}
